{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4 custom-shadow">
        <div class="row">
            <!-- Миниатюры -->
            <div class="col-md-4">
                {% if product.images.exists %}
                    {% for image in product.images.all %}
                        <img src="{{ image.image.url }}" class="img-thumbnail mb-2" data-bs-toggle="modal" data-bs-target="#imageModal{{ forloop.counter }}">
                    {% endfor %}
                {% else %}
                    <img src="{{ product.image.url }}" class="img-thumbnail mb-2" data-bs-toggle="modal" data-bs-target="#imageModalMain">
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
            </div>

            <!-- Модальные окна для всех изображений -->
            {% if product.images.exists %}
                {% for image in product.images.all %}
                <div class="modal fade" id="imageModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="imageModalLabel{{ forloop.counter }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalLabel{{ forloop.counter }}">{{ product.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ image.image.url }}" class="img-fluid" alt="{{ product.name }}">
                            </div>
                            <div class="modal-footer">
                                {% if not forloop.first %}
                                <button type="button" class="btn btn-primary" data-bs-target="#imageModal{{ forloop.counter|add:-1 }}" data-bs-toggle="modal" data-bs-dismiss="modal">Предыдущее</button>
                                {% endif %}
                                {% if not forloop.last %}
                                <button type="button" class="btn btn-primary" data-bs-target="#imageModal{{ forloop.counter|add:1 }}" data-bs-toggle="modal" data-bs-dismiss="modal">Следующее</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="modal fade" id="imageModalMain" tabindex="-1" aria-labelledby="imageModalMainLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalMainLabel">{{ product.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Описание товара -->
        <div class="card-body">
            <p class="card-text">Цена: <strong>{{ product.sell_price }} $</strong></p>
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="{% url "cart:cart_add" product.slug %}" class="btn btn-dark add-to-cart">Добавить в корзину</a>
        </div>
    </div>
</div>
{% endblock %}
