{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
    {% comment %} <style>
        .gradient-text {
            background: linear-gradient(to right, #003366 0%, #ffffff 0%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 3px 2px 1px black, 0 0 1em black; /* Черная тень для окантовки */
        }
    </style> {% endcomment %}
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <h1 class="mt-4 pt-2 gradient-text"><strong>{{ content }}</strong></h1>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ETEHNO LTD 2024</p>
    </div>
</footer>
{% endblock %}